header{
    display: flex;
    justify-content: flex-start;
    background-color:#F2F2F2;
    border-top:1px solid #999999;
    border-bottom:3px solid #999999;
    width: 100%;
    min-height: 90px;
    max-height: 90px;
    overflow: hidden;
}

header > .heading {
    min-width: 30%;
    max-width: 30%;
}

header > .heading > h1 {
    margin-left: 25px;
}

header > form {
    min-width: 35%;
    max-width: 35%;
}

form > input {
    width: 80%;
    margin-top: 20px;
    height: 40px;
    border: 3px solid black;
}

form > .search-box {
    padding-left: 15px;
    font-weight: bold;
}

form > img {
    margin-left: -35px;
}

@media only screen and (max-width: 1236px) {
    header > .heading {
        min-width: 25%;
        max-width: 25%;
    }

    header > form {
        min-width: 30%;
        max-width: 30%;
    }
    
    form > input {
        width: 80%;
        margin-top: 20px;
        height: 40px;
        border: 3px solid black;
    }
}

@media only screen and (max-width: 1080px){
    header > .heading {
        min-width: 20%;
        max-width: 20%;
    }
    header > .heading > h1 {
        margin-top: 25px;
        margin-left: 25px;
        font-size: 25px;
    }

    header > form {
        min-width: 25%;
        max-width: 25%;
    }
    
    form > input {
        width: 80%;
        margin-top: 20px;
        height: 40px;
        border: 3px solid black;
    }
}

@media only screen and (max-width: 1020px){
    header > .heading {
        min-width: 18%;
        max-width: 18%;
    }
    header > .heading > h1 {
        margin-top: 10px;
        margin-left: 25px;
        font-size: 25px;
    }

@media only screen and (max-width: 900px){
    header{
        width: 100%;
        min-height: 110px;
        max-height: 110px;
        overflow: hidden;
    }
    header > .heading {
        min-width: 30%;
        max-width: 30%;
    }

    header > .heading > h1 {
        margin-top: 25px;
        margin-left: 25px;
        font-size: 25px;
    }

    header > form {
        min-width: 40%;
        max-width: 40%;
    }
    
    form > input {
        width: 80%;
        margin-top: 25px;
        height: 40px;
        border: 3px solid black;
    }
}

@media only screen and (max-width: 700px){
    header{
        width: 100%;
        min-height: 110px;
        max-height: 110px;
        overflow: hidden;
    }
    header > .heading {
        min-width: 35%;
        max-width: 30%;
    }

    header > .heading > h1 {
        margin-top: 30px;
        margin-left: 25px;
        font-size: 25px;
    }

    header > form {
        min-width: 35%;
        max-width: 35%;
    }
    
    form > input {
        width: 80%;
        margin-top: 32px;
        height: 30px;
    }
}

@media only screen and (max-width: 600px){
    header{
        width: 100%;
        min-height: 110px;
        max-height: 110px;
        overflow: hidden;
    }
    header > .heading {
        min-width: 50%;
        max-width: 50%;
    }

    header > .heading > h1 {
        margin-top: 15px;
        margin-left: 25px;
        font-size: 25px;
    }

    header > form {
        min-width: 50%;
        max-width: 50%;
    }
    
    form > input {
        width: 80%;
        margin-top: 15px;
        height: 30px;
    }
}

@media only screen and (max-width: 400px){
    header{
        width: 100%;
        min-height:150px;
        max-height: 150px;
        overflow: hidden;
    }
    header > .heading {
        min-width: 100%;
        max-width: 100%;
    }

    header > .heading > h1 {
        margin-top: 12px;
        margin-left: 120px;
        font-size: 20px;
    }

    header > form {
        min-width: 100%;
        max-width:100%;
        margin-left: 100px;
    }
    
    form > input {
        width: 60%;
        height: 30px;
        margin-top: 55px;
        margin-left: -440px;
    }
}

@media only screen and (max-width: 340px){
    header{
        width: 100%;
        min-height:170px;
        max-height: 170px;
        overflow: hidden;
    }
    header > .heading {
        min-width: 100%;
        max-width: 100%;
    }

    header > .heading > h1 {
        margin-top: 5px;
        margin-left: 90px;
        font-size: 25px;
    }

    header > form {
        min-width: 100%;
        max-width:100%;
        margin-left: 100px;
    }
    
    form > input {
        width: 60%;
        height: 30px;
        margin-top: 45px;
        margin-left: -370px;
    }
}

@media only screen and (max-width: 360px){
    header{
        width: 100%;
        min-height:140px;
        max-height: 140px;
        overflow: hidden;
    }
    header > .heading {
        min-width: 100%;
        max-width: 100%;
    }

    header > .heading > h1 {
        margin-top: 5px;
        margin-left: 90px;
        font-size: 25px;
    }

    header > form {
        min-width: 100%;
        max-width:100%;
        margin-left: 100px;
    }
    
    form > input {
        width: 60%;
        height: 30px;
        margin-top: 45px;
        margin-left: -390px;
    }
}

@media only screen and (max-width: 280px){
    header{
        width: 100%;
        min-height:170px;
        max-height: 170px;
        overflow: hidden;
    }
    header > .heading {
        min-width: 100%;
        max-width: 100%;
    }

    header > .heading > h1 {
        margin-top: 6px;
        margin-left: 80px;
        font-size: 18px;
    }

    header > form {
        min-width: 100%;
        max-width:100%;
        margin-left: 208px;
    }
    
    form > input {
        width: 80%;
        height: 30px;
        margin-top: 45px;
        margin-left: -470px;
    }
}}