.lipsum-stories {
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255);
}

.lipsum-stories > h1 {
    text-align: center;
    margin-left: -60px;
    
}
.lipsum-stories > .paragraphs {
   columns: 2 ;
}

.paragraphs{
    text-align: left;
    margin-left: 10px;
}

.para-1 {
    margin-top: -20px;
}

.para-1 > h3 {
    text-align: left;
   
}

.para > h3 {
    text-align: left;

}

.lipsum-stories > a {
    text-decoration: none;
    float: right;
    margin-right: 20px;
}

@media (max-width:634px){
    .lipsum-stories {
        width: 100%;
        height: 600px;
    }
}
@media (max-width:580px){
    .lipsum-stories {
        width: 100%;
        height: 720px;
    }
    .lipsum-stories > .paragraphs {
        columns: 1 ;
    }
}

@media (max-width:458px){
    .lipsum-stories {
        width: 100%;
        height:800px;
    }
    .lipsum-stories > .paragraphs {
        columns: 1 ;
    }
}

@media (max-width:366px){
    .lipsum-stories {
        width: 100%;
        height: 895px;
    }
    .lipsum-stories > .paragraphs {
        columns: 1 ;
    }
}

@media (max-width:312px){
    .lipsum-stories {
        width: 100%;
        height: 980px;
    }
    .lipsum-stories > .paragraphs {
        columns: 1 ;
    }
}

@media (max-width:280px){
    .lipsum-stories {
        width: 100%;
        height: 1005px;
    }
    .lipsum-stories > .paragraphs {
        columns: 1 ;
    }
}

