.images-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: auto;
    background-color: #F2F2F2;
    border-top:2px solid #8F8F8F;
    border-bottom:2px solid #8F8F8F;
}
.images-wrapper > div.item {
    margin-top: 20px;
    margin-left: 80px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
    width: 120px;
}
.images-wrapper > div.item  > img {
    width: 130px;
    height: 120px;
    border:2px solid #9D9D9D;
    border-radius: 50%;
    
    background-color: rgb(255, 255, 255);
}
