.top {
    margin:0;
    border: 2px solid #858585;
}

.top > h4 {
    margin:0;
    margin-left: 70px;
    margin-bottom: 10px;
}

.top > img {
    position:absolute;
    margin-left: 45px;
    margin-top: 4px;
    margin-bottom: 10px;
}